# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Model files
*.pkl

# Jupyter
.ipynb_checkpoints/

# Large dataset (only ignore specific file)
dataset.csv

# OS files
.DS_Store
Thumbs.db